{% extends 'user/userbase.html' %}

{% block pagecontent %}

      <div class="contain">
        <div class="row" style="width: 100%;">
          <form action="/user/resetpassword" method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <div class="col-9 mb-3 mx-auto">
                <label for="oldpassword" class="form-label">Old password:</label>
                  <input name="oldpwd" type="password" class="form-control" placeholder="Old Password" aria-label="Old Password">
          </div>
          
          <div class="col-9 mb-3 mx-auto">
            <label for="newpassword" class="form-label">New password:</label>
              <input name="newpwd1" type="password" class="form-control" placeholder="New Password" aria-label="New Password">
          </div>

          <div class="col-9 mb-3 mx-auto">
            <label for="confirmpassword" class="form-label">Confirm password:</label>
              <input name="newpwd2"  type="password" class="form-control" placeholder="Confirm new Password" aria-label="Confirm Password">
          </div>
          <div class="d-grid mx-auto col-9 ">
            <button class="btn btn-success" type="submit">Change password</button>
          </div>
            <div class="d-grid mx-auto col-9 ">
            {% with m = get_flashed_messages()%}
                {% if m%}
                {% for i in m%}
                  {{ i}}
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
        </div>
      </form>
          
  </div>

  {% endblock %}

